/* Tus estilos CSS originales aquí */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  overflow: auto;
  height: 90vh;
  max-height: 90vh;
}

#content {
  flex-grow: 1;
  overflow-y: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin-top: 0;
}

/* Parte de arriba */

.top-section {
  background-color: #d6d6d6;
  height: 12%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  padding: 0 20px;
}

#newChatButton {
  cursor: pointer;
  background-color: #ff8787;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#newChatButton:hover {
  background-color: #c62828;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 0;
  cursor: default;
}

.red {
  color: red;
}

.pregunta-btn {
  position: relative;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.select-container {
  position: relative;
}

#versionSelect {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#versionSelect:hover {
  border-color: #007bff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Chat  */
#chat {
  height: 70%;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 10px;
  margin: 5px auto;
  width: 90%;
  border: 1px solid #ffffff;
  border-radius: 15px;
  text-align: left;
}

#chat::-webkit-scrollbar {
  width: 12px;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
  align-items: flex-start;
}

.message-container.user {
  justify-content: flex-end;
}

.message {
  min-width: 150px;
  max-width: 80%;
  padding: 15px;
  border-radius: 15px;
  word-wrap: break-word;
  display: inline-block;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: #333;
}

.message:hover {
  transform: translateY(-2px);
}

.user .message {
  background-color: #ff8787;
  color: white;
  align-self: flex-end;
}

.agent .message {
  background-color: #ededed;
  color: #333;
  align-self: flex-start;
}

.agent .message-container {
  display: flex;
  align-items: flex-start;
}

.agent .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.agent .message {
  flex-grow: 1;
}

/* Botones de retroalimentación */

.feedback-button-menu {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 1%;
  font-size: 18px;
  background: transparent;
  border: none;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.feedback-options {
  position: absolute;
  top: 10px;
  right: 2.5%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
}

.feedback-options span {
  display: block;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #444;
  transition: background-color 0.3s;
}

.feedback-options span:hover {
  background-color: #f0f0f0;
}

.feedback-box {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
  margin-top: 10px;
  overflow: hidden;
}

.feedback-container {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  width: auto;
  position: absolute;
}

/* Barra mensaje */

#message-container {
  position: relative;
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
  height: auto;
  display: block;
  outline: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.3;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  padding-right: 6%;
  padding-left: 4%;
  max-height: 150px;
  overflow-y: auto;
}

#message::-webkit-scrollbar {
  width: 8px;
}

#message::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

#message::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#message:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#sendButton {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#sendButton:hover {
  background-color: #ff6347;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.sendIcon {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}

.waitIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Estilos de codigo */
pre code {
  background-color: #2e2e2e;
  color: #f8f8f2;
  padding: 10px;
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 5px;
}

code.json {
  color: #66d9ef;
}

code.xml {
  color: #a6e22e;
}

.json .property {
  color: #f92672;
}

.json .string {
  color: #e6db74;
}

.json .number {
  color: #ae81ff;
}

.json .boolean {
  color: #fd971f;
}

.json .null {
  color: #fd971f;
}

.xml .tag {
  color: #f92672;
}

.xml .attribute {
  color: #e6db74;
}

.xml .value {
  color: #a6e22e;
}
.select-with-icons {
  font-size: 16px;
  padding: 10px;
  width: 200px;
}

.option-icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}

.api-icon {
  background-image: url('static/API.png');
}

.core-icon {
  background-image: url('static/core.png');
}

.migracion-icon {
  background-image: url('static/migracion.jpg');
}